<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TimeOffice</display-name>
  <servlet>
    <servlet-name>FileulServlet</servlet-name>
    <servlet-class>javafiles.FileulServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileulServlet</servlet-name>
    <url-pattern>/FileulServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>CreatevarifyServlet</servlet-name>
    <servlet-class>javafiles.CreatevarifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatevarifyServlet</servlet-name>
    <url-pattern>/CreatevarifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GirupdServlet</servlet-name>
    <servlet-class>javafiles.GirupdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GirupdServlet</servlet-name>
    <url-pattern>/GirupdServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SubmitcoentryServlet</servlet-name>
    <servlet-class>javafiles.SubmitcoentryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitcoentryServlet</servlet-name>
    <url-pattern>/SubmitcoentryServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SavedataServlet</servlet-name>
    <servlet-class>javafiles.SavedataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavedataServlet</servlet-name>
    <url-pattern>/SavedataServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>MirupdServlet</servlet-name>
    <servlet-class>javafiles.MirupdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MirupdServlet</servlet-name>
    <url-pattern>/MirupdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MirupdServlet1</servlet-name>
    <servlet-class>javafiles.MirupdServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MirupdServlet1</servlet-name>
    <url-pattern>/MirupdServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecupdServlet</servlet-name>
    <servlet-class>javafiles.RecupdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecupdServlet</servlet-name>
    <url-pattern>/RecupdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginvarifyServlet</servlet-name>
    <servlet-class>javafiles.LoginvarifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginvarifyServlet</servlet-name>
    <url-pattern>/LoginvarifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoregleaveServlet</servlet-name>
    <servlet-class>javafiles.sendtoregleaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoregleaveServlet</servlet-name>
    <url-pattern>/sendtoregleaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoleaveauthoServlet</servlet-name>
    <servlet-class>javafiles.sendtoleaveauthoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoleaveauthoServlet</servlet-name>
    <url-pattern>/sendtoleaveauthoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>approveleaveServlet</servlet-name>
    <servlet-class>javafiles.approveleaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveleaveServlet</servlet-name>
    <url-pattern>/approveleaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoleavestatusServlet</servlet-name>
    <servlet-class>javafiles.sendtoleavestatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoleavestatusServlet</servlet-name>
    <url-pattern>/sendtoleavestatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtocostatusServlet</servlet-name>
    <servlet-class>javafiles.sendtocostatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtocostatusServlet</servlet-name>
    <url-pattern>/sendtocostatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewdeleteServlet</servlet-name>
    <servlet-class>javafiles.viewdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewdeleteServlet</servlet-name>
    <url-pattern>/viewdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtodwleaveServlet</servlet-name>
    <servlet-class>javafiles.sendtodwleaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtodwleaveServlet</servlet-name>
    <url-pattern>/sendtodwleaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoelencServlet</servlet-name>
    <servlet-class>javafiles.sendtoelencServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoelencServlet</servlet-name>
    <url-pattern>/sendtoelencServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveelencServlet</servlet-name>
    <servlet-class>javafiles.saveelencServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveelencServlet</servlet-name>
    <url-pattern>/saveelencServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewupdleaveServlet</servlet-name>
    <servlet-class>javafiles.ViewupdleaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewupdleaveServlet</servlet-name>
    <url-pattern>/ViewupdleaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoleavenotappServlet</servlet-name>
    <servlet-class>javafiles.sendtoleavenotappServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoleavenotappServlet</servlet-name>
    <url-pattern>/sendtoleavenotappServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShiftUpdateServlet</servlet-name>
    <servlet-class>javafiles.ShiftUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShiftUpdateServlet</servlet-name>
    <url-pattern>/ShiftUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoshiftupdServlet</servlet-name>
    <servlet-class>javafiles.sendtoshiftupdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoshiftupdServlet</servlet-name>
    <url-pattern>/sendtoshiftupdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtorecServlet</servlet-name>
    <servlet-class>javafiles.sendtorecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtorecServlet</servlet-name>
    <url-pattern>/sendtorecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoreceditServlet</servlet-name>
    <servlet-class>javafiles.sendtoreceditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoreceditServlet</servlet-name>
    <url-pattern>/sendtoreceditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtosivServlet</servlet-name>
    <servlet-class>javafiles.sendtosivServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtosivServlet</servlet-name>
    <url-pattern>/sendtosivServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SiventryServlet</servlet-name>
    <servlet-class>javafiles.SiventryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiventryServlet</servlet-name>
    <url-pattern>/SiventryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SiventryaddServlet</servlet-name>
    <servlet-class>javafiles.SiventryaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiventryaddServlet</servlet-name>
    <url-pattern>/SiventryaddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtomrvServlet</servlet-name>
    <servlet-class>javafiles.sendtomrvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtomrvServlet</servlet-name>
    <url-pattern>/sendtomrvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MrventryServlet</servlet-name>
    <servlet-class>javafiles.MrventryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MrventryServlet</servlet-name>
    <url-pattern>/MrventryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MrventryaddServlet</servlet-name>
    <servlet-class>javafiles.MrventryaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MrventryaddServlet</servlet-name>
    <url-pattern>/MrventryaddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtosiveditServlet</servlet-name>
    <servlet-class>javafiles.sendtosiveditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtosiveditServlet</servlet-name>
    <url-pattern>/sendtosiveditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SivupdServlet</servlet-name>
    <servlet-class>javafiles.SivupdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SivupdServlet</servlet-name>
    <url-pattern>/SivupdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtomrveditServlet</servlet-name>
    <servlet-class>javafiles.sendtomrveditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtomrveditServlet</servlet-name>
    <url-pattern>/sendtomrveditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MrvupdServlet</servlet-name>
    <servlet-class>javafiles.MrvupdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MrvupdServlet</servlet-name>
    <url-pattern>/MrvupdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtosrvvalServlet</servlet-name>
    <servlet-class>javafiles.sendtosrvvalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtosrvvalServlet</servlet-name>
    <url-pattern>/sendtosrvvalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonthwiseSrvServlet</servlet-name>
    <servlet-class>javafiles.MonthwiseSrvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthwiseSrvServlet</servlet-name>
    <url-pattern>/MonthwiseSrvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtosivlistServlet</servlet-name>
    <servlet-class>javafiles.sendtosivlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtosivlistServlet</servlet-name>
    <url-pattern>/sendtosivlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonthwisesivServlet</servlet-name>
    <servlet-class>javafiles.MonthwisesivServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthwisesivServlet</servlet-name>
    <url-pattern>/MonthwisesivServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtomrvlistServlet</servlet-name>
    <servlet-class>javafiles.sendtomrvlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtomrvlistServlet</servlet-name>
    <url-pattern>/sendtomrvlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonthwisemrvServlet</servlet-name>
    <servlet-class>javafiles.MonthwisemrvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthwisemrvServlet</servlet-name>
    <url-pattern>/MonthwisemrvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoitemwisesrvServlet</servlet-name>
    <servlet-class>javafiles.sendtoitemwisesrvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoitemwisesrvServlet</servlet-name>
    <url-pattern>/sendtoitemwisesrvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoitemwisemrvServlet</servlet-name>
    <servlet-class>javafiles.sendtoitemwisemrvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoitemwisemrvServlet</servlet-name>
    <url-pattern>/sendtoitemwisemrvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoitemwisesivServlet</servlet-name>
    <servlet-class>javafiles.sendtoitemwisesivServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoitemwisesivServlet</servlet-name>
    <url-pattern>/sendtoitemwisesivServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtoosrdentryServlet</servlet-name>
    <servlet-class>javafiles.sendtoosrdentryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtoosrdentryServlet</servlet-name>
    <url-pattern>/sendtoosrdentryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OsrdupdServlet</servlet-name>
    <servlet-class>javafiles.OsrdupdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OsrdupdServlet</servlet-name>
    <url-pattern>/OsrdupdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtogirlocalpurServlet</servlet-name>
    <servlet-class>javafiles.sendtogirlocalpurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtogirlocalpurServlet</servlet-name>
    <url-pattern>/sendtogirlocalpurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendtomirlocalpurServlet</servlet-name>
    <servlet-class>javafiles.sendtomirlocalpurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendtomirlocalpurServlet</servlet-name>
    <url-pattern>/sendtomirlocalpurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GirlocalpurServlet</servlet-name>
    <servlet-class>javafiles.GirlocalpurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GirlocalpurServlet</servlet-name>
    <url-pattern>/GirlocalpurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MirlocalpurServlet</servlet-name>
    <servlet-class>javafiles.MirlocalpurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MirlocalpurServlet</servlet-name>
    <url-pattern>/MirlocalpurServlet</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>All JSP direct access</web-resource-name>
      <url-pattern>/gir.jsp</url-pattern>
      <url-pattern>/GirUpdate.jsp</url-pattern>
      <url-pattern>/mir.jsp</url-pattern>
      <url-pattern>/MrvUpdate.jsp</url-pattern>
      <url-pattern>/SivUpdate.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>
       No Access
      </description>
      <role-name>restricted</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>NO Access</description>
    <role-name>restricted</role-name>
  </security-role>
  <jsp-config>
    <taglib>
      <taglib-uri>rw</taglib-uri>
      <taglib-location>/WEB-INF/lib/reports_tld.jar</taglib-location>
    </taglib>
  </jsp-config>
</web-app>